*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    margin-left: auto;
    margin-right: auto;
    max-width: 1960px;
}
.title{
    height: 25em;
    width: 100%;
    background-image: url(/img/info/titleimg3.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.title h1{
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-top:2em;
}
.desc{
    padding: 5em 5%;
    display: flex;
    justify-content: space-around;
}
.desc img{
    align-self: center;
    max-height: 25em;
    max-width: 35em;
    border-radius: 13px;
}
.desc-text{
    padding: 1.5em;
}
.desc-text h2{
    color: #0a2351;
    font-weight: 800;
    font-size: 35px;
}
.desc-text p{
    color: #5072A7;
    font-weight: 600;
    margin-top: 1em;
}
.achievements{
    padding: 2em 4%;
    background-color: #f6ede0;
    display: flex;
    justify-content: space-between;

}
.achievements img{
    align-self: center;
    max-height: 30em;
    max-width: 35em;
    border-radius: 13px;
}
.achievements-text{
    padding: 1.5em;
}
.achievements-text h2{
    color: #0a2351;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
}
.achievements-text p{
    font-weight: 600;
    margin-top: 1em;  
}
.slider{
    min-height: 20em;
    height: 30em;
    max-width: 60em;
    position: relative;
    background-image: url(/img/info/stara1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    margin-bottom: 4em;
}
.slider *{
    box-sizing: border-box;
}
.caption{
    background: linear-gradient(rgba(0,0,0,0), #000);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4em 1em 2em 1em;
    text-align: center;
}
.caption h1{
    margin: 0;
    color: #fff;
}
.caption p {
    color: #8a8a8a;
}
.arrow-left, .arrow-right {
    background: #fff;
    position: absolute;
    top: 40%;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.arrow-left:hover, .arrow-right:hover {
    background: #000;
    color: #fff;
}
.arrow-left{
    left: 1em;
}
.arrow-right{
    right: 1em;
}
.image-fade {
    animation: imgFade 0.5s ease-in-out;
}
@keyframes imgFade {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
.kontakt{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 1em 0;
    justify-content: space-between;
}
.kontakt div{
    text-align: center;
    padding: 1.5em;
}
.kontakt i{
    color: #0a2351;
}
.kontakt h3{
    color: #0a2351;
    font-weight: 800;
    font-size: 22px;
}
.kontakt p{
    font-weight: 500;
    font-size: 17px;

}
.kontakt a{
    font-weight: 500;
    font-size: 17px;
    color: #0a2351;
    text-decoration: none;
}
.kontakt a:hover, .footer a:hover{
    opacity: 0.7;
}
.footer div{
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    padding: 3em;
}
.footer a{
    font-size: 22px;
    color: #0a2351;
    text-decoration: none;
}

@media screen and (max-width:1050px) {
    .desc{
        flex-direction: column;
        align-items: center;

    }
    .achievements{
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media  screen and (max-width: 950px) {
    .kontakt{
        width: 100%;
    }
    .kontakt h3{
        font-size:20px;
    }
    .kontakt p, .kontakt a{
        font-size: 15px;
    }
    .footer div{
        width: 50%;
    }
}
