* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1960px;
}
.title {
  display: flex;
  background: linear-gradient(0deg, #b0b1b5, #f3f3f3);
}
.title img {
  width: 40%;
  border-radius: 0 0 35% 0;
}
.title div {
  margin: 5%;
  width: 50%;
}
.title h1 {
  font-size: 70px;
  font-weight: 800;
  color: #002d62;
}
.title p {
  font-size: 20px;
  font-weight: 500;
  color: #002244;
}

.skola {
  display: flex;
  padding-top: 4em;
  background: linear-gradient(0deg, #f3f3f3, #b0b1b5);
}
.skola div {
  padding: 5%;
}
.skola h1,
.regatno h1 {
  font-size: 30px;
  font-weight: 800;
  color: #002d62;
}
.skola b,
.regatno b {
  color: #002d62;
}
.skola p,
.regatno p {
  margin-top: 1em;
  font-size: 18px;
  font-weight: 500;
  color: #002244;
}
.skola img {
  align-self: flex-end;
  width: 40%;
  max-height: 40em;
  border-radius: 45% 0 0 0;
}
.rekreativna {
  display: flex;
  background-color: #002d62;
}
.rekreativna div {
  margin: 4em 2em;
}
.rekreativna h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 800;
}
.rekreativna p {
  margin-top: 1em;
  color: #b0b1b5;
}
.rekreativna b {
  color: #fff;
}
.rekreativna img {
  width: 35%;
  max-height: 25em;
  margin: 4em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.regatno {
  padding: 3em;
  display: flex;
}
.regatno div {
  padding: 2em;
}
.regatno img {
  max-height: 25em;
  width: 35%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.contact {
  height: 5em;
  padding: 3% 20%;
}
.contact a {
  padding-bottom: 0.2em;
  color: #263136;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
}
.contact-social {
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-social img {
  height: 1.5em;
}
.contact-social img:hover,
a:hover {
  opacity: 0.7;
}
@media screen and (max-width: 950px) {
  .title {
    flex-direction: column;
  }

  .title img {
    width: 70%;
    border-radius: 0 0 35% 0;
    margin-bottom: 20px;
  }

  .title div {
    width: 100%;
    margin: 0;
  }

  .title h1 {
    font-size: 50px;
  }

  .title p {
    font-size: 16px;
  }
  .skola {
    flex-direction: column-reverse;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .skola div {
    padding: 2%;
  }

  .skola h1,
  .regatno h1 {
    font-size: 25px;
  }

  .skola p,
  .regatno p {
    font-size: 16px;
  }

  .skola img {
    align-self: flex-end;
    width: 60%;
    border-radius: 15% 0 0 15%;
    margin-bottom: 2em;
  }
  .rekreativna {
    flex-direction: column;
  }

  .rekreativna div {
    margin: 2em;
  }

  .rekreativna h1 {
    font-size: 24px;
  }

  .rekreativna img {
    width: 70%;
    margin: 2em auto;
  }

  .regatno {
    padding: 2em;
    flex-direction: column-reverse;
  }

  .regatno div {
    padding: 1em;
  }

  .regatno img {
    width: 70%;
    margin: 2em auto;
    border-radius: 0;
    box-shadow: none;
  }
}
